body{
  font-family: Arial,Tahoma,Century gothic, sans-serif;
  margin-top: 10px;
  height: auto;
}

#topcover
{	
  top: 0;
  position: fixed;
	list-style-type: none;
	background: #000 repeat-y;
  padding: 10px 16px;
  font-size: 16px;
	font-weight: bold; 
  width: 100%; 
}
section{
  padding: 40px;
}

li {
  border-right:1px solid white;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

div.gallery {
  border: 1px solid #ccc;
  float: left;
  width: 180px;  
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
  background: #333 repeat-y; 
}

#about
{
  font-size: 18px;
  text-align: center;

}
#photos
{
  height: 380px; 
}
#playlist{
  text-align: center;

}